* {
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    font-weight: 100;
    background-color: rgba(10, 25, 44, 0.952);
    height: 75px;
    line-height: 75px;
    color: rgba(255, 255, 255, 0.568);
    text-align: center;

}

.button {
    margin-top: 10rem;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;

}

.line-border {
    margin-top: 5rem;
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

h3 {
    margin-top: 5rem;
    font-weight: 100;
}